<body>
<div class="row">
  <div class="col-sm-3">
    <a href="centro_oeste/mato_groso" class="btn btn-success" role="button">Mato Grosso</a>
  </div>
  <div class="col-sm-3">
    <a href="centro_oeste/mato_grosso_do_sul" class="btn btn-success" role="button">Mato Grosso do Sul</a>
  </div>
  <div class="col-sm-3">
    <a href="centro_oeste/goias" class="btn btn-success" role="button">Goiás</a>
  </div>
  <div class="col-sm-3">
    <a href="centro_oeste/destrito_federal" class="btn btn-success" role="button">Destrito Federal</a>
  </div>
</div>
</div>
</body>
</html>
