<body>
<div class="container">
 <div class="jumbotron text-center">
  <h1>DepuDados</h1>
  <p>Pagina criada para disponibilizar informações do seu candidato</p>
</div>

<div class="text-center">
    <a href="regiao" >
      <img < src="https://i.imgur.com/OvcZBcv.png" width="250" />
    </a>
  </div>
</div></body>
</html>
