<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">DepuDados</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="home"> Home <span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="pesquisa">Pesquisa <span class="glyphicon glyphicon-search"></span></a></li>
      <li><a href="informa">Informação <span class="glyphicon glyphicon-info-sign"></span></a></li>
      <li><a href="equipe">Equipe <span class="glyphicon glyphicon-user"></span></a></li>
    </ul>
  </div>
</nav>

<div class="container">
 <div class="jumbotron text-center">
  <h1>DepuDados</h1>
  <p>Pagina criada para disponibilizar informações do seu candidato</p>
</div>

<div class="row">
  <div class="col-sm-3">
    <a href="nordeste/alagoas" class="btn btn-success" role="button">Alagoas</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/bahia" class="btn btn-success" role="button">Bahia</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/ceara" class="btn btn-success" role="button">Ceará</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/maranhao" class="btn btn-success" role="button">Maranhão</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/paraiba" class="btn btn-success" role="button">Paraíba</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/Piauí" class="btn btn-success" role="button">Piauí</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/pernambuco" class="btn btn-success" role="button">Pernambuco</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/rio_grande_do_norte" class="btn btn-success" role="button">Rio Grande do Norte</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/Sergipe" class="btn btn-success" role="button">Sergipe</a>
  </div>
</div>
</body>
</html>
