<body>
<div class="row">
  <div class="col-sm-3">
    <a href="nordeste/alagoas" class="btn btn-success" role="button">Alagoas</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/bahia" class="btn btn-success" role="button">Bahia</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/ceara" class="btn btn-success" role="button">Ceará</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/maranhao" class="btn btn-success" role="button">Maranhão</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/paraiba" class="btn btn-success" role="button">Paraíba</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/Piauí" class="btn btn-success" role="button">Piauí</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/pernambuco" class="btn btn-success" role="button">Pernambuco</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/rio_grande_do_norte" class="btn btn-success" role="button">Rio Grande do Norte</a>
  </div>
  <div class="col-sm-3">
    <a href="nordeste/Sergipe" class="btn btn-success" role="button">Sergipe</a>
  </div>
</div>
</body>
</html>
