<body>
<div class="row">
  <div class="col-sm-3">
    <a href="norte/amazonia" class="btn btn-success" role="button">Amazonia</a>
  </div>
  <div class="col-sm-3">
    <a href="norte/roraima" class="btn btn-success" role="button">Roraima</a>
  </div>
  <div class="col-sm-3">
    <a href="norte/amapa" class="btn btn-success" role="button">Amapá</a>
  </div>
  <div class="col-sm-3">
    <a href="norte/para" class="btn btn-success" role="button">Pará</a>
  </div>
  <div class="col-sm-3">
    <a href="norte/tocantins" class="btn btn-success" role="button">Tocantins</a>
  </div>
  <div class="col-sm-3">
    <a href="norte/rondonia" class="btn btn-success" role="button">Rondônia</a>
  </div>
  <div class="col-sm-3">
    <a href="norte/acre" class="btn btn-success" role="button">Acre</a>
  </div>
</div>
</body>
</html>
