<body>
<div class="row">
  <div class="col-sm-2 text-center">
    <h4> Norte </h4>
    <a href="regiao/norte" >
      <img < src="https://i.imgur.com/eQphSqB.png" width="100" />
    </a>
  </div>
  <div class="col-sm-2 text-center">
    <h4> Nordeste </h4>
    <a href="regiao/nordeste" >
      <img < src="https://i.imgur.com/wSPj0OP.png" width="100" />
    </a>
  </div>
  <div class="col-sm-2 text-center">
    <h4> Centro Oeste </h4>
    <a href="regiao/centro_oeste" >
      <img < src="https://i.imgur.com/ExLKOqc.png" width="100" />
    </a>
  </div>
  <div class="col-sm-2 text-center">
    <h4> Sudeste </h4>
    <a href="regiao/sudeste" >
      <img < src="https://i.imgur.com/ZlpFQP4.png" width="100" />
    </a>
  </div>
  <div class="col-sm-2 text-center">
    <h4> Sul </h4>
    <a href="regiao/sul" >
      <img < src="https://i.imgur.com/dhquZSO.png" width="100" />
    </a>
  </div>
</div>
</body>
</html>
