<body>
<div class="row">
  <div class="col-sm-3">
    <a href="sudeste/minas_gerais" class="btn btn-success" role="button">Minas Gerais</a>
  </div>
  <div class="col-sm-3">
    <a href="sudeste/espirito_santo" class="btn btn-success" role="button">Espirito Santo</a>
  </div>
  <div class="col-sm-3">
    <a href="sudeste/sao_paulo" class="btn btn-success" role="button">São Paulo</a>
  </div>
  <div class="col-sm-3">
    <a href="sudeste/rio_de_janeiro" class="btn btn-success" role="button">Rio de Janeiro</a>
  </div>
</div>
</body>
</html>
