<body>
<div class="row">
  <div class="col-sm-4">
    <a href="sul/parana" class="btn btn-success" role="button">Paraná</a>
  </div>
  <div class="col-sm-4">
    <a href="sul/santa_catarina" class="btn btn-success" role="button">Santa Catarina</a>
  </div>
  <div class="col-sm-4">
    <a href="sul/rio_grande_do_sul" class="btn btn-success" role="button">Rio Grande do Sul</a>
  </div>
</div>
</body>
</html>
