<body>
<div class="row">
  <div class="col-lg-6">
  <div class="card" style="width:250px">
    <img class="card-img-botton" style="width:100px" src="https://i.imgur.com/hg2r4Dy.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Marcus Gomes</h4>
        <p class="card-text">Aluno de sistema da informação</p>
        <a href="https://github.com/marcustib" target="_blank" class="btn btn-primary">Github</a>
      </div>
    </div>
  </div>
    <div class="col-lg-6">
      <div class="card" style="width:250px">
        <img class="card-img-botton" style="width:100px" src="https://i.imgur.com/qXJ6qDT.png" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Paulo Marques</h4>
            <p class="card-text">Aluno de sistema da informação</p>
            <a href="https://github.com/pemsm" target="_blank" class="btn btn-primary">Github</a>
          </div>
        </div>
  </div>
</div>
</body>
