// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 60px;

}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.mapa{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

#svg-map path { fill:#0094d9 }
    #svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
    #svg-map a{ text-decoration:none }
    #svg-map a:hover { cursor:pointer; text-decoration:none }
    #svg-map a:hover path{ fill:#003399 !important }
    #svg-map .circle { fill:#66ccff }
    #svg-map a:hover .circle { fill:#003399 !important; cursor:pointer }
